footer{
    color: aliceblue;
    margin-top: 50px;
    background-image: url('6439a44e1ba631f201bef25e_Ocean Time.jpeg');
    background-position: center;
    padding: 30px;
}

.copy{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}